# Django
*.log
*.pot
*.pyc
__pycache__
__pycache__/
db.sqlite3
test_db.sqlite3

# Backup files
*.bak

# Virtual envs
venv/

# VS Code
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history